langchain
langchain-core
langchain-openai
langchain-text-splitters
numpy
bs4
faiss-gpu-cu12
markdownify

accelerate
bitsandbytes 
transformers 
sentence-transformers

langchain-community
chromadb
sionna
